html,body{
    margin: 0;
    background-color: #99FFFF;

}

li{
    margin: 5px;
    float: left;
}
ul {

list-style-type: none;
text-decoration: none;
overflow: hidden;

background-color: #333333;
}
li >a {
display: block;
color: white;
text-align: center;
padding: 16px;
text-decoration: none;
}

li> a:hover {
background-color:yellow;
transition: 5s all;
}
.head{
font-family: 'Eczar', serif;
padding-left: 70px;
color: darkblue;
font-size: 30px;

background-color: #E0E0E0;
margin-bottom: 0px;
padding-bottom:  0px;

}
.menu{
margin-top: 0px;
padding-top: 0px;

}
.menu li:hover {
color: green;
padding-left: 30px;
transition: all 1s;
}
.logo{


float: right;
right: 0;
position: fixed;


height: 130px;
width: 100px;
}
/**********/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {

padding: 15px;

}
.heading{
height: 200px;
}
#social{
font-size: 28px;
margin-top: 10px;
transition: 1s all;
}
#c1,#c2,#c3{
width: 50px;
height: 50px;
}
#c1:hover{
color: slateblue;
transition: 1s all;
}
#c2:hover{
color: deepskyblue;
transition: 1s all;
}
#c3:hover{
color: red;
transition: 1s all;
}
.left,.right,.middle{


width: 30%;
height: 250px;
margin: 10px;
float: left;
background-color: #606060;
}
.but{
font-size: 20px;
text-underline-position: none;
width: 200px;
float: right;
position: fixed;
right: 100px;
position: fixed;
background-color: green;
color: yellow;

}s
.agh{
height: 200px;
width: 200px;
float: left;
}
.arh{

height: 200px;
width: 200px;
float: left;
}
.contain:after{
clear: both;
content: "";
display: table;

}
